body {
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

a {
    color: #dca10c;
}

.weather-app {
    background: rgb(8, 133, 149);
    margin: 80px auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 30ox 50px #00204a;
}
header{
    border-block-end: 1px solid white;
    padding-block-end: 30px;
}

.search-input {
    background-color: rgb(248, 157, 61) ;
    border: none;
    color: #00204a;
    font-size: 16px;
    padding: 20px;
    inline-size: 75%;
    border-radius: 6px;
}
.search-button {
    margin-inline-start: 5px;
    font-size: 16px;
    background-color: #fdb44b;
    color: #00204a;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
}

main {
    padding: 30px 0;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current-city {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.current-details {
    color: #00204a;
    font-size: 45px;
    font-weight: 400;
    line-height: 24px;
}

.current-details-strong {
    color: aqua;
}

.current-temperature-icon {
    position: relative;
    inset-block-start: -8px;
    font-size: 200px;
    margin-inline-end: 10px;
}

.current-temperature-value {
    font-size: 100px;
    font-weight: bold;
}

footer {
    border-block-start: 1px solid white;
    text-align: center;
    padding-block-start: 15px;

    color: #00204a;
}